@model MedShop.Core.Models.Product.ProductServiceModel

@{
    ViewBag.Title = "Product Details";
}

<h2 class="text-center text-capitalize text-primary" style="font-family: cursive">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:flow">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Product Image">
        </div>
        <div class="card col-8 border-0" style="font-family: monospace">
            <div class="card text-dark bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header text-capitalize" style="font-size:30px">@Model.ProductName</div>
                <div class="card-body">
                    <p class="card-text">@Model.Description</p>
                </div>
                <div class="card-body">
                    <p class="card-text">Category: <b>@Model.Category</b></p>
                </div>
                <div class="card-body">
                    <p class="card-text">Quantity: <b>@Model.Quantity</b></p>
                </div>
                <div class="card-body">
                    <p class="card-text">Seller: <b>@Model.Seller</b></p>
                </div>
                <div class="card-body">
                    <p class="card-text">Price: <b>$@String.Format("{0:f2}", Model.Price)</b></p>
                </div>
                @if (this.User?.Identity?.IsAuthenticated ?? false)
                {
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Actions
                                </button>
                            </h2>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="form-inline">

                                        <a class="btn btn-warning" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" asp-route-information="@Model.GetInformation()">
                                            <i class="bi bi-pencil-fill"></i>
                                            Edit
                                        </a>
                                        <a class="ml-2 btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id" asp-route-information="@Model.GetInformation()">
                                            <i class="bi bi-trash-fill"></i>
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <p></p>
        </div>
    </div>
</div>